{% extends 'base.html' %}

{% block main %}
    <h2>Наші кросівки</h2>
    <div class="products">
        {% for product in products %}
            <div class="product-card">
                <img src="/static/img/{{ product.image }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>Ціна: {{ product.price }} грн</p>
                <a href="/product/{{ product.id }}" class="btn">Детальніше</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}