{% extends 'base.html' %}

{% block title %}
<title></title>
{% endblock title %}

{% block main %}
<main class="container bg-dark">
  <h1>Продукти</h1>
    <section class="container">
    <div class="row">
        {% for item in items %}
            <!-- Встановлюємо ширину карточки, наприклад, на 3 з 12 можливих частин сітки, що дозволяє розмістити 4 карточки в рядок -->
            <div class="col-md-3 col-sm-6">
                <div class="card m-3 rounded">
                    <img src="{{ url_for('static', filename='img/'+ item[3]) }}" class="card-img-rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item[1]}}</h5>
                        <p class="card-text">{{item[2]}} грн</p>
                        <a href="{{ url_for('product_page', item_id=item[0]) }}" class="btn btn-outline-dark stretched-link">Купити</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

</main>
{% endblock main %}